{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.getFileWebPath() %}
    <a href="{{ asset(object.getFileWebPath()) }}" target="_blank" title="{{ object }}">{{ object.fileName }}</a>
    {% else %}
    NULL
    {% endif %}
{% endblock %}