{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.url %}
        <a target="_blank" href="{{ object.url }}">{{ object.url }}</a>
    {% endif %}
{% endblock %}